-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: smart_nutrition_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `classes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `academic_year` varchar(20) DEFAULT NULL,
  `class_name` varchar(50) NOT NULL,
  `is_active` bit(1) NOT NULL,
  `section` varchar(10) DEFAULT NULL,
  `school_id` bigint NOT NULL,
  `teacher_id` bigint DEFAULT NULL,
  `class_code` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKh0oaysw8jogs1h9q9ph5dvp5d` (`school_id`),
  KEY `FK4tv5efpqhlo8xg8l8dpba8v75` (`teacher_id`),
  CONSTRAINT `FK4tv5efpqhlo8xg8l8dpba8v75` FOREIGN KEY (`teacher_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKh0oaysw8jogs1h9q9ph5dvp5d` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
INSERT INTO `classes` VALUES (1,'2025-2026','Grade 3',_binary '','A',1,NULL,'CLS-6070'),(2,'2025-2026','Grade 4',_binary '','B',1,NULL,'CLS-4B'),(3,'2025-2026','Grade 5',_binary '','B',1,2,'CLS-3214');
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `friendships`
--

DROP TABLE IF EXISTS `friendships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `friendships` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `status` varchar(20) NOT NULL,
  `user_id_1` bigint NOT NULL,
  `user_id_2` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKm79hub541spqqpyof0rr3lfhw` (`user_id_1`,`user_id_2`),
  KEY `FKeb0r941caw33iv5ty8ece18l8` (`user_id_2`),
  CONSTRAINT `FK28t0gc29i5jtkne4q53ayejfb` FOREIGN KEY (`user_id_1`) REFERENCES `users` (`id`),
  CONSTRAINT `FKeb0r941caw33iv5ty8ece18l8` FOREIGN KEY (`user_id_2`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `friendships`
--

LOCK TABLES `friendships` WRITE;
/*!40000 ALTER TABLE `friendships` DISABLE KEYS */;
INSERT INTO `friendships` VALUES (1,'PENDING',7,2),(2,'PENDING',7,1);
/*!40000 ALTER TABLE `friendships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `holidays`
--

DROP TABLE IF EXISTS `holidays`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `holidays` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `duration` varchar(20) NOT NULL,
  `end_date` date NOT NULL,
  `name` varchar(100) NOT NULL,
  `start_date` date NOT NULL,
  `status` varchar(30) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `holidays`
--

LOCK TABLES `holidays` WRITE;
/*!40000 ALTER TABLE `holidays` DISABLE KEYS */;
/*!40000 ALTER TABLE `holidays` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lunchbox_presets`
--

DROP TABLE IF EXISTS `lunchbox_presets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lunchbox_presets` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `student_id` bigint NOT NULL,
  `preset_name` varchar(100) NOT NULL,
  `length_cm` decimal(5,2) NOT NULL,
  `width_cm` decimal(5,2) NOT NULL,
  `height_cm` decimal(5,2) NOT NULL,
  `notes` text,
  `is_default` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_lunchbox_preset_student` (`student_id`),
  CONSTRAINT `fk_lunchbox_preset_student` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=123 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lunchbox_presets`
--

LOCK TABLES `lunchbox_presets` WRITE;
/*!40000 ALTER TABLE `lunchbox_presets` DISABLE KEYS */;
/*!40000 ALTER TABLE `lunchbox_presets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meal_food_items`
--

DROP TABLE IF EXISTS `meal_food_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `meal_food_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `calories` decimal(8,2) DEFAULT NULL,
  `carbs_g` decimal(8,2) DEFAULT NULL,
  `consumed_calories` decimal(8,2) DEFAULT NULL,
  `consumed_carbs_g` decimal(8,2) DEFAULT NULL,
  `consumed_fat_g` decimal(8,2) DEFAULT NULL,
  `consumed_fiber_g` decimal(8,2) DEFAULT NULL,
  `consumed_protein_g` decimal(8,2) DEFAULT NULL,
  `consumption_percentage` decimal(5,2) DEFAULT NULL,
  `cooking_note` varchar(255) DEFAULT NULL,
  `fat_g` decimal(8,2) DEFAULT NULL,
  `fiber_g` decimal(8,2) DEFAULT NULL,
  `food_name` varchar(150) NOT NULL,
  `protein_g` decimal(8,2) DEFAULT NULL,
  `quantity` varchar(50) DEFAULT NULL,
  `source` enum('AI_DETECTED','PARENT_ADDED','PARENT_EDITED') DEFAULT NULL,
  `meal_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK48wqbv0qnrf6r79exla2lskhf` (`meal_id`),
  CONSTRAINT `FK48wqbv0qnrf6r79exla2lskhf` FOREIGN KEY (`meal_id`) REFERENCES `meals` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=350 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meal_food_items`
--

LOCK TABLES `meal_food_items` WRITE;
/*!40000 ALTER TABLE `meal_food_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `meal_food_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meals`
--

DROP TABLE IF EXISTS `meals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `meals` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `meal_date` date NOT NULL,
  `post_meal_image_url` varchar(500) DEFAULT NULL,
  `pre_meal_image_url` varchar(500) DEFAULT NULL,
  `status` enum('PRE_MEAL_UPLOADED','POST_MEAL_UPLOADED','MEAL_NOT_PACKED','CONSUMPTION_DATA_MISSING','FULLY_CONSUMED','PENDING_LEFTOVER_ANALYSIS','PARTIALLY_CONSUMED') NOT NULL,
  `student_id` bigint NOT NULL,
  `uploaded_by_parent` bigint DEFAULT NULL,
  `uploaded_by_teacher` bigint DEFAULT NULL,
  `box_height` decimal(5,2) DEFAULT NULL,
  `box_length` decimal(5,2) DEFAULT NULL,
  `box_width` decimal(5,2) DEFAULT NULL,
  `lunchbox_preset_id` bigint DEFAULT NULL,
  `lunchbox_preset_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKh1aruvt02j1qrqo0x06lhrqr2` (`student_id`,`meal_date`),
  KEY `FK3bvkwyayvsff1c812budyu79q` (`uploaded_by_parent`),
  KEY `FK73n46mhr0lj0yjpyeqlsfir7x` (`uploaded_by_teacher`),
  CONSTRAINT `FK3bvkwyayvsff1c812budyu79q` FOREIGN KEY (`uploaded_by_parent`) REFERENCES `users` (`id`),
  CONSTRAINT `FK73n46mhr0lj0yjpyeqlsfir7x` FOREIGN KEY (`uploaded_by_teacher`) REFERENCES `users` (`id`),
  CONSTRAINT `FKt182te90rdn6gs0yrc0k8xuy` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=114 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meals`
--

LOCK TABLES `meals` WRITE;
/*!40000 ALTER TABLE `meals` DISABLE KEYS */;
/*!40000 ALTER TABLE `meals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `message_text` text NOT NULL,
  `sent_at` datetime(6) DEFAULT NULL,
  `receiver_id` bigint NOT NULL,
  `sender_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKt05r0b6n0iis8u7dfna4xdh73` (`receiver_id`),
  KEY `FK4ui4nnwntodh6wjvck53dbk9m` (`sender_id`),
  CONSTRAINT `FK4ui4nnwntodh6wjvck53dbk9m` FOREIGN KEY (`sender_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKt05r0b6n0iis8u7dfna4xdh73` FOREIGN KEY (`receiver_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nutrition_scores`
--

DROP TABLE IF EXISTS `nutrition_scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nutrition_scores` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `calculated_at` datetime(6) DEFAULT NULL,
  `classification` enum('POOR','AVERAGE','GOOD') NOT NULL,
  `lunch_calorie_target` decimal(8,2) DEFAULT NULL,
  `lunch_protein_target` decimal(8,2) DEFAULT NULL,
  `score` decimal(5,2) NOT NULL,
  `total_consumed_calories` decimal(8,2) DEFAULT NULL,
  `total_consumed_carbs_g` decimal(8,2) DEFAULT NULL,
  `total_consumed_fat_g` decimal(8,2) DEFAULT NULL,
  `total_consumed_fiber_g` decimal(8,2) DEFAULT NULL,
  `total_consumed_protein_g` decimal(8,2) DEFAULT NULL,
  `meal_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK70bv7dyvoa1hprnn8p0rgrlep` (`meal_id`),
  KEY `FKlhphffcaqquivpr8abnsbe6ir` (`student_id`),
  CONSTRAINT `FK70bv7dyvoa1hprnn8p0rgrlep` FOREIGN KEY (`meal_id`) REFERENCES `meals` (`id`),
  CONSTRAINT `FKlhphffcaqquivpr8abnsbe6ir` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=99 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nutrition_scores`
--

LOCK TABLES `nutrition_scores` WRITE;
/*!40000 ALTER TABLE `nutrition_scores` DISABLE KEYS */;
/*!40000 ALTER TABLE `nutrition_scores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parent_student`
--

DROP TABLE IF EXISTS `parent_student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parent_student` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `is_primary` bit(1) NOT NULL,
  `relationship` enum('MOTHER','FATHER','GUARDIAN') NOT NULL,
  `parent_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKa75262ayu1e8c972aolwoip4f` (`parent_id`,`student_id`),
  KEY `FKt1ie4vmnqwaaoe3260ehdcv2v` (`student_id`),
  CONSTRAINT `FKssqcgk8hv6cebfwg9y4ee75hc` FOREIGN KEY (`parent_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKt1ie4vmnqwaaoe3260ehdcv2v` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=150 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parent_student`
--

LOCK TABLES `parent_student` WRITE;
/*!40000 ALTER TABLE `parent_student` DISABLE KEYS */;
/*!40000 ALTER TABLE `parent_student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipes`
--

DROP TABLE IF EXISTS `recipes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `description` text,
  `ingredients` text NOT NULL,
  `instructions` text NOT NULL,
  `title` varchar(150) NOT NULL,
  `created_by` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK562qxrf6asv465kol8skqtgx8` (`created_by`),
  CONSTRAINT `FK562qxrf6asv465kol8skqtgx8` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipes`
--

LOCK TABLES `recipes` WRITE;
/*!40000 ALTER TABLE `recipes` DISABLE KEYS */;
/*!40000 ALTER TABLE `recipes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_tokens`
--

DROP TABLE IF EXISTS `refresh_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refresh_tokens` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `expiry_date` datetime(6) NOT NULL,
  `is_revoked` bit(1) NOT NULL,
  `token` varchar(512) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_ghpmfn23vmxfu3spu3lfg4r2d` (`token`),
  KEY `FK1lih5y2npsf8u5o3vhdb9y0os` (`user_id`),
  CONSTRAINT `FK1lih5y2npsf8u5o3vhdb9y0os` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=601 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_tokens`
--

LOCK TABLES `refresh_tokens` WRITE;
/*!40000 ALTER TABLE `refresh_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schools`
--

DROP TABLE IF EXISTS `schools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schools` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `academic_year` varchar(20) DEFAULT NULL,
  `address` text,
  `created_at` datetime(6) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `name` varchar(200) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schools`
--

LOCK TABLES `schools` WRITE;
/*!40000 ALTER TABLE `schools` DISABLE KEYS */;
INSERT INTO `schools` VALUES (1,'2025-2026','123 Education Lane, Tech City','2026-08-05 10:21:25.000000',_binary '','Greenwood International School');
/*!40000 ALTER TABLE `schools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_allergies`
--

DROP TABLE IF EXISTS `student_allergies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_allergies` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `allergen_name` varchar(100) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `severity` varchar(20) DEFAULT NULL,
  `noted_by` bigint DEFAULT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK2h83q9nsc5kh30e5bbu8f1f7u` (`noted_by`),
  KEY `FKoshg4700cwegbhjj3unpcfaor` (`student_id`),
  CONSTRAINT `FK2h83q9nsc5kh30e5bbu8f1f7u` FOREIGN KEY (`noted_by`) REFERENCES `users` (`id`),
  CONSTRAINT `FKoshg4700cwegbhjj3unpcfaor` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_allergies`
--

LOCK TABLES `student_allergies` WRITE;
/*!40000 ALTER TABLE `student_allergies` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_allergies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blood_group` varchar(5) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `gender` varchar(10) DEFAULT NULL,
  `height_cm` decimal(5,2) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `name` varchar(100) NOT NULL,
  `roll_number` varchar(20) DEFAULT NULL,
  `student_code` varchar(20) NOT NULL,
  `weight_kg` decimal(5,2) DEFAULT NULL,
  `school_id` bigint DEFAULT NULL,
  `class_id` bigint DEFAULT NULL,
  `box_depth` decimal(5,2) DEFAULT NULL,
  `box_length` decimal(5,2) DEFAULT NULL,
  `box_volume` decimal(8,2) DEFAULT NULL,
  `box_width` decimal(5,2) DEFAULT NULL,
  `daily_calories` int DEFAULT NULL,
  `daily_carbs` int DEFAULT NULL,
  `daily_fat` int DEFAULT NULL,
  `daily_fiber` int DEFAULT NULL,
  `daily_protein` int DEFAULT NULL,
  `lunch_calories` int DEFAULT NULL,
  `lunch_carbs` int DEFAULT NULL,
  `lunch_fat` int DEFAULT NULL,
  `lunch_fiber` int DEFAULT NULL,
  `lunch_protein` int DEFAULT NULL,
  `box_shape` varchar(50) DEFAULT NULL,
  `box_compartments` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_cgcf3r5xk73o0etbduc1qxnol` (`student_code`),
  KEY `FKdojmg8v3rw2ow4dev2b8q5oqq` (`school_id`),
  KEY `FKhnslh0rm5bthlble8vjunbnwe` (`class_id`),
  CONSTRAINT `FKdojmg8v3rw2ow4dev2b8q5oqq` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`),
  CONSTRAINT `FKhnslh0rm5bthlble8vjunbnwe` FOREIGN KEY (`class_id`) REFERENCES `classes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=152 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `deleted_at` datetime(6) DEFAULT NULL,
  `deleted_by` bigint DEFAULT NULL,
  `email` varchar(150) NOT NULL,
  `is_active` bit(1) NOT NULL,
  `name` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('PARENT','TEACHER','ADMIN') NOT NULL,
  `address` varchar(500) DEFAULT NULL,
  `mobile_number` varchar(30) DEFAULT NULL,
  `profile_picture_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_6dotkott2kjsp8vw4d0m25fb7` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'smart_nutrition_db'
--

--
-- Dumping routines for database 'smart_nutrition_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-13 15:53:04
